{% extends 'base.html' %}
{% block content %}

    <div style="height:1200px;" class="termos">
        <div>
             <div class="clienteTermos">
                 <h2 style="margin-left:10px; font-size:18px;">nome  = {{ nome }} </h2>
                 <h2 style="margin-left:10px; font-size:18px;">email  = {{ email }} </h2>
                 <h2 style="margin-left:10px; font-size:18px;">telefone  = {{ telefone }} </h2>


                 <hr>
                 <h2 style="color:black;margin-left:10px; font-size: 18px;">Produtos:
                    {{ refinItau }}, {{ nivelBrasil }}, {{variasespecies}}, {{variasIdades}}, Troco acima de R$1000,00
                 </h2>

                 <hr>
                 <h2 style="color:black;margin-left:10px; font-size: 18px;">Pacote:
                    {{ pacotes }}
                 </h2>
                 <hr>


              </div>


        <div>
            <h2 class="termoAceiteH2">TERMO DE ACEITE</h2>
            <h3 style="margin-left:15px;" class="estouCiente">Estou ciente que foi passado pelo comercial e SUPORTE as informações abaixo:</h3>
        <form method="POST">
            <div style="margin-left:15px;margin-top:20px;">
                <input id="ident01" type="checkbox" required checked>  O Upbank entregará a quantidade de Leads higienizados referente ao pacote adquirido pelo cliente. Todos os leads deverão ter o$
                </br><input id="ident02" type="checkbox" required checked> Da higienização: o Upbank se responsabiliza em entregar leads com telefones higienizados e com assertividade superior aos $
                 entretanto não garantimos uma porcentagem de assertividade da base. </input>
                </br><input id="ident03" type="checkbox" required checked> É parte do Objetivo da equipe do Upbank entregar clientes com possibilidade real de venda, entretanto se tratando de um me$
                </br><input id="ident04" type="checkbox" required checked> O Upbank fornece clientes aptos para a venda, porém não garantimos o interesse claro e óbvio do lead em contrair o emprést$
                </br><input id="ident05" type="checkbox" required checked> Alterações de dos leads poderão ser feitas ANTES e somente ANTES do serviço ser concluído e entregue ao contratante.</inpu$
                </br><input id="ident06" style="padding-left:5px;"type="checkbox" required checked>  Após a entrega da base, se tratando de um serviço digital entregue via planilha, é impossível pa$
                </br><input id="ident07"type="checkbox" required checked> Este termo estabelece um acordo pré-compra em que ambas as partes se comprometem com o das condições estabelecidas antes da$

            </div>
                {% csrf_token %}
                {{ cli.as_p }}
                </br><input id="ident10" style="margin-left:15px;font-size:25px;" type="checkbox" required checked>  Eu li e concordo com os termos de uso</input>
            <div style="margin-top: 50px;margin-left:75%;">
                <button onclick="enviar()" class="btn-saveTermos" type="submit" checked>ENVIAR</button>
            </div>
        </form>
    </div>

{% endblock content %}

